.dashboard-wrapper {
    padding: 30px 20px 10px;

    @media screen and (min-width: 992px) {
        padding: 10px 40px;
    }
}

.dashboard--left, .dashboard--right {
    width: 100%;

    @media screen and (min-width: 1200px) {
        width: 49.3%;
    }
}

.dashboard__item {
    background-color: $color-bg-light;
    padding: 12px 15px 15px;
    border-radius: 10px;

    &.no-border .dashboard__row {
        border-bottom: 0;

        p {
            margin: 8px 0;
        }
    }
}

.dashboard__table {
    &:not(:last-child) {
        padding-bottom: 20px;
    }   
}

.dashboard__row {
    margin: 0 10px;

    &:not(:last-child) {
        border-bottom: 1px solid $color-border;
    }

    @media screen and (min-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.row__right {
    color: $color-text-lighter;
    font-size: 0.875rem;

    &.row--danger {
        color: red;
        background-color: rgba(255, 0, 0, 0.152863);
        padding: 2px 7px;
        border-radius: 8px;
        max-width: 80px;
        text-align: center;
    }
}

.slider {
    width: 85px;
    height: 8px;
    border-radius: 5.5px;
    background-color: $color-bg-slider;

    .slider-inner {
        
        height: 100%;
        border-radius: 5.5px;
    }

    &.slider-1 .slider-inner {
        background-color: #FFC100;
        width: 40%;
    } 

    &.slider-2 .slider-inner {
        background-color: #69CFA5;
        width: 80%;
    }
}

.dashboard__project-wrapper {
    width: 100%;

    @media screen and (min-width: 600px) {
        width: 49%;
    }

    &:nth-child(4n+1) {
        .dashboard__project {
            background: rgba($color-yellow, 0.154791);
            color: $color-yellow;
    
            p, p a, i {
                color: $color-yellow;
            }
        } 
    }

    &:nth-child(4n+2) {
        .dashboard__project {
            background: rgba($color-blue, 0.15);
            color: $color-blue;
    
            p, p a, i {
                color: $color-blue;
            }
        }
    }

    &:nth-child(4n+3) {
        .dashboard__project {
            background: rgba(190, 31, 122, 0.150268);
            color: #BE1F7A;
    
            p, p a, i {
                color: #BE1F7A;
            }
        } 
    }

    &:nth-child(4n+4) {
        .dashboard__project {
            background: rgba(118, 195, 87, 0.154791);
            color: #76C357;
    
            p, p a, i {
                color: #76C357;
            }
        }
    }
}

.dashboard__project {
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    i {
        margin-right: 8px;
    }

    p {
        width: 50%;
        display: flex;
        align-items: center;
        line-height: 160%;
        font-weight: 600;

        &.text-right {
            justify-content: flex-end;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .link-with-line {
        width: 100%;
        text-align: right;
        padding-right: 0;
        padding-bottom: 15px;
    }
}