* {
    box-sizing: border-box;
}

html {
    background-color: $color-bg;
    font-size: 16px;
    font-family: $font;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    color: $color-title;
    font-weight: 700;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

h4 {
    font-size: 0.875rem;
    color: $color-title-opacity;
    margin: 0;
}

p {
    margin: 12px 0;
    font-weight: 500;
    color: $color-text;
}

i {
    font-size: 1.4rem;
    margin-right: 15px;
}

.link {
    font-size: 0.875rem;
    color: $color-title;
    text-decoration: none;
    padding: 10px 5px;
    font-weight: 600;

    &:hover, &:active, &:focus {
        text-decoration: underline;
        color: $color-title;
    }

    &.link-with-line {
        text-decoration: underline;

        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
}

input::placeholder {
    color: rgba($color-text, 0.2);
}

.wrapper {
    margin: 0;
    display: flex;
    position: relative;
}