.flex {
    display: flex;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-wrap { 
    flex-wrap: wrap;
}