@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?dl7o4k');
    src:  url('../fonts/icomoon/icomoon.eot?dl7o4k#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.ttf?dl7o4k') format('truetype'),
      url('../fonts/icomoon/icomoon.woff?dl7o4k') format('woff'),
      url('../fonts/icomoon/icomoon.svg?dl7o4k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-close:before {
    content: "\e90a";
  }
  .icon-menu:before {
    content: "\e90b";
  }
  .icon-search:before {
    content: "\e909";
  }
  .icon-grid:before {
    content: "\e907";
  }
  .icon-arrow-right:before {
    content: "\e908";
  }
  .icon-settings:before {
    content: "\e900";
  }
  .icon-briefcase:before {
    content: "\e901";
  }
  .icon-folder:before {
    content: "\e902";
  }
  .icon-trending-up:before {
    content: "\e903";
  }
  .icon-swap:before {
    content: "\e904";
  }
  .icon-people:before {
    content: "\e905";
  }
  .icon-calendar:before {
    content: "\e906";
  }

.icon-calendar {
    color: $color-yellow;
}

.icon-trending-up {
    color: $color-purple;
}

.icon-folder, .icon-briefcase {
    color: $color-green;
}

.icon-swap {
    color: $color-red;
}

.icon-people {
    color: $color-orange; 
}

.icon-grid {
    color: #B0BDEC;
}