.menu-wrapper {
    background-color: $color-bg-light;
    padding: 20px 40px 10px;
    width: 400px;
    max-width: 100vw;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: fixed;
    left: -100%;
    height: 100%;
    transition: left .3s;

    &.active {
        left: 0;
    }

    @media screen and (min-width: 992px) {
        position: relative;
        left: 0;
        padding: 10px 40px;
        min-height: 100vh;

        .hamburger {
            display: none;
        }
    }
}

.menu__search {
    margin: 25px auto;
    width: 100%;
    position: relative;

    input {
        width: 100%;
        background-color: $color-bg;
        border: 0;
        border-radius: 10px;
        padding: 10px 45px 10px 15px;
        font-size: 1rem;
        outline: none;

        &:focus {
            background-color: rgba($color-text, 0.1);
        }
    }

    .icon-search {
        position: absolute;
        right: -3px;
        top: 7px;
    }
}

.menu__nav {
    margin: 10px auto;
    width: 100%;
    flex-grow: 1;

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    a {
        color: $color-text;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 10px;

        &:hover, &:focus, &:active {
            background-color: rgba($color-bg, 0.4);
        }
    }

    .active {
        font-weight: bold;
        background-color: $color-bg;
        border-radius: 11px;
    }
}

.menu__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    p {
        flex-grow: 1;
        font-size: 1.25rem;
        color: $color-title;
        margin: 0;
    }

    img {
        max-width: 40px;
        height: 40px;
        border-radius: 6px;
        margin-right: 19px;
        flex-grow: 0;
    }

    button {
        background-color: $color-bg;
        border: 0;
        padding: 10px;
        border-radius: 6px;

        i {
            margin: 0;
            font-size: 1.2rem;
        }

        &:hover {
            background-color: rgba($color-text, 0.3);
            transition: background-color .2s;
            cursor: pointer;
        }
    }
}

.hamburger {
    position: fixed;
    cursor: pointer;
    z-index: 9;
    left: 10px;
    top: 10px;
    background-color: $color-bg-light;
    padding: 3px 5px 2px;
    border-radius: 6px;
    
    i {
        font-size: 1.7rem;
        margin: 0;
    }

  @media screen and (min-width: 992px) {
      display: none;
  }
}