$font: 'Barlow';

$color-bg: #F6F6FB;
$color-bg-light: #FFFFFF;
$color-bg-slider: #EDEEF3;
$color-title: #0C163D;
$color-text: #3D4C80;
$color-text-lighter: #AAB0C7;
$color-title-opacity: rgba(61, 76, 128, 0.495875);

$color-border: rgba(61, 76, 128, 0.0989128);

$color-yellow: #FFA200;
$color-purple: #3D00FF;
$color-green: #42C989;
$color-red: #FF4A00;
$color-blue: #165F8B;
$color-orange: #FF864F;
