@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;0,600;0,700;1,500&display=swap");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?dl7o4k");
  src: url("../fonts/icomoon/icomoon.eot?dl7o4k#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?dl7o4k") format("truetype"), url("../fonts/icomoon/icomoon.woff?dl7o4k") format("woff"), url("../fonts/icomoon/icomoon.svg?dl7o4k#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-close:before {
  content: "\e90a"; }

.icon-menu:before {
  content: "\e90b"; }

.icon-search:before {
  content: "\e909"; }

.icon-grid:before {
  content: "\e907"; }

.icon-arrow-right:before {
  content: "\e908"; }

.icon-settings:before {
  content: "\e900"; }

.icon-briefcase:before {
  content: "\e901"; }

.icon-folder:before {
  content: "\e902"; }

.icon-trending-up:before {
  content: "\e903"; }

.icon-swap:before {
  content: "\e904"; }

.icon-people:before {
  content: "\e905"; }

.icon-calendar:before {
  content: "\e906"; }

.icon-calendar {
  color: #FFA200; }

.icon-trending-up {
  color: #3D00FF; }

.icon-folder, .icon-briefcase {
  color: #42C989; }

.icon-swap {
  color: #FF4A00; }

.icon-people {
  color: #FF864F; }

.icon-grid {
  color: #B0BDEC; }

* {
  box-sizing: border-box; }

html {
  background-color: #F6F6FB;
  font-size: 16px;
  font-family: "Barlow";
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4 {
  color: #0C163D;
  font-weight: 700; }

h1 {
  margin-bottom: 0; }

h2 {
  margin-top: 20px;
  margin-bottom: 15px; }

h4 {
  font-size: 0.875rem;
  color: rgba(61, 76, 128, 0.495875);
  margin: 0; }

p {
  margin: 12px 0;
  font-weight: 500;
  color: #3D4C80; }

i {
  font-size: 1.4rem;
  margin-right: 15px; }

.link {
  font-size: 0.875rem;
  color: #0C163D;
  text-decoration: none;
  padding: 10px 5px;
  font-weight: 600; }
  .link:hover, .link:active, .link:focus {
    text-decoration: underline;
    color: #0C163D; }
  .link.link-with-line {
    text-decoration: underline; }
    .link.link-with-line:hover, .link.link-with-line:active, .link.link-with-line:focus {
      text-decoration: none; }

input::placeholder {
  color: rgba(61, 76, 128, 0.2); }

.wrapper {
  margin: 0;
  display: flex;
  position: relative; }

.dashboard-wrapper {
  padding: 30px 20px 10px; }
  @media screen and (min-width: 992px) {
    .dashboard-wrapper {
      padding: 10px 40px; } }

.dashboard--left, .dashboard--right {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    .dashboard--left, .dashboard--right {
      width: 49.3%; } }

.dashboard__item {
  background-color: #FFFFFF;
  padding: 12px 15px 15px;
  border-radius: 10px; }
  .dashboard__item.no-border .dashboard__row {
    border-bottom: 0; }
    .dashboard__item.no-border .dashboard__row p {
      margin: 8px 0; }

.dashboard__table:not(:last-child) {
  padding-bottom: 20px; }

.dashboard__row {
  margin: 0 10px; }
  .dashboard__row:not(:last-child) {
    border-bottom: 1px solid rgba(61, 76, 128, 0.0989128); }
  @media screen and (min-width: 600px) {
    .dashboard__row {
      display: flex;
      align-items: center;
      justify-content: space-between; } }

.row__right {
  color: #AAB0C7;
  font-size: 0.875rem; }
  .row__right.row--danger {
    color: red;
    background-color: rgba(255, 0, 0, 0.152863);
    padding: 2px 7px;
    border-radius: 8px;
    max-width: 80px;
    text-align: center; }

.slider {
  width: 85px;
  height: 8px;
  border-radius: 5.5px;
  background-color: #EDEEF3; }
  .slider .slider-inner {
    height: 100%;
    border-radius: 5.5px; }
  .slider.slider-1 .slider-inner {
    background-color: #FFC100;
    width: 40%; }
  .slider.slider-2 .slider-inner {
    background-color: #69CFA5;
    width: 80%; }

.dashboard__project-wrapper {
  width: 100%; }
  @media screen and (min-width: 600px) {
    .dashboard__project-wrapper {
      width: 49%; } }
  .dashboard__project-wrapper:nth-child(4n+1) .dashboard__project {
    background: rgba(255, 162, 0, 0.154791);
    color: #FFA200; }
    .dashboard__project-wrapper:nth-child(4n+1) .dashboard__project p, .dashboard__project-wrapper:nth-child(4n+1) .dashboard__project p a, .dashboard__project-wrapper:nth-child(4n+1) .dashboard__project i {
      color: #FFA200; }
  .dashboard__project-wrapper:nth-child(4n+2) .dashboard__project {
    background: rgba(22, 95, 139, 0.15);
    color: #165F8B; }
    .dashboard__project-wrapper:nth-child(4n+2) .dashboard__project p, .dashboard__project-wrapper:nth-child(4n+2) .dashboard__project p a, .dashboard__project-wrapper:nth-child(4n+2) .dashboard__project i {
      color: #165F8B; }
  .dashboard__project-wrapper:nth-child(4n+3) .dashboard__project {
    background: rgba(190, 31, 122, 0.150268);
    color: #BE1F7A; }
    .dashboard__project-wrapper:nth-child(4n+3) .dashboard__project p, .dashboard__project-wrapper:nth-child(4n+3) .dashboard__project p a, .dashboard__project-wrapper:nth-child(4n+3) .dashboard__project i {
      color: #BE1F7A; }
  .dashboard__project-wrapper:nth-child(4n+4) .dashboard__project {
    background: rgba(118, 195, 87, 0.154791);
    color: #76C357; }
    .dashboard__project-wrapper:nth-child(4n+4) .dashboard__project p, .dashboard__project-wrapper:nth-child(4n+4) .dashboard__project p a, .dashboard__project-wrapper:nth-child(4n+4) .dashboard__project i {
      color: #76C357; }

.dashboard__project {
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  .dashboard__project i {
    margin-right: 8px; }
  .dashboard__project p {
    width: 50%;
    display: flex;
    align-items: center;
    line-height: 160%;
    font-weight: 600; }
    .dashboard__project p.text-right {
      justify-content: flex-end; }
    .dashboard__project p a {
      text-decoration: none; }
      .dashboard__project p a:hover {
        text-decoration: underline; }
  .dashboard__project .link-with-line {
    width: 100%;
    text-align: right;
    padding-right: 0;
    padding-bottom: 15px; }

.flex {
  display: flex; }

.flex-justify-between {
  justify-content: space-between; }

.flex-align-center {
  align-items: center; }

.flex-align-end {
  align-items: flex-end; }

.flex-wrap {
  flex-wrap: wrap; }

.menu-wrapper {
  background-color: #FFFFFF;
  padding: 20px 40px 10px;
  width: 400px;
  max-width: 100vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  left: -100%;
  height: 100%;
  transition: left .3s; }
  .menu-wrapper.active {
    left: 0; }
  @media screen and (min-width: 992px) {
    .menu-wrapper {
      position: relative;
      left: 0;
      padding: 10px 40px;
      min-height: 100vh; }
      .menu-wrapper .hamburger {
        display: none; } }

.menu__search {
  margin: 25px auto;
  width: 100%;
  position: relative; }
  .menu__search input {
    width: 100%;
    background-color: #F6F6FB;
    border: 0;
    border-radius: 10px;
    padding: 10px 45px 10px 15px;
    font-size: 1rem;
    outline: none; }
    .menu__search input:focus {
      background-color: rgba(61, 76, 128, 0.1); }
  .menu__search .icon-search {
    position: absolute;
    right: -3px;
    top: 7px; }

.menu__nav {
  margin: 10px auto;
  width: 100%;
  flex-grow: 1; }
  .menu__nav ul {
    list-style: none;
    padding: 0; }
  .menu__nav li {
    margin-bottom: 10px; }
  .menu__nav a {
    color: #3D4C80;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px; }
    .menu__nav a:hover, .menu__nav a:focus, .menu__nav a:active {
      background-color: rgba(246, 246, 251, 0.4); }
  .menu__nav .active {
    font-weight: bold;
    background-color: #F6F6FB;
    border-radius: 11px; }

.menu__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; }
  .menu__footer p {
    flex-grow: 1;
    font-size: 1.25rem;
    color: #0C163D;
    margin: 0; }
  .menu__footer img {
    max-width: 40px;
    height: 40px;
    border-radius: 6px;
    margin-right: 19px;
    flex-grow: 0; }
  .menu__footer button {
    background-color: #F6F6FB;
    border: 0;
    padding: 10px;
    border-radius: 6px; }
    .menu__footer button i {
      margin: 0;
      font-size: 1.2rem; }
    .menu__footer button:hover {
      background-color: rgba(61, 76, 128, 0.3);
      transition: background-color .2s;
      cursor: pointer; }

.hamburger {
  position: fixed;
  cursor: pointer;
  z-index: 9;
  left: 10px;
  top: 10px;
  background-color: #FFFFFF;
  padding: 3px 5px 2px;
  border-radius: 6px; }
  .hamburger i {
    font-size: 1.7rem;
    margin: 0; }
  @media screen and (min-width: 992px) {
    .hamburger {
      display: none; } }
